<configuration>
    <!-- Console appender for all general logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender only for Oplog -->
    <appender name="OPLOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/oplog_mongo.log</file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger logs to console only -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Only log from LoggerService to oplog.log -->
    <logger name="com.mergemesh.mongo_server.service.LoggerService" level="INFO" additivity="false">
        <appender-ref ref="OPLOG" />
    </logger>

</configuration>
